*{
    margin: 0;
    padding: 0;
    border-style: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    background: whitesmoke;
}
.container{
    position: relative;
    min-width: 1200px;
    margin: 0 auto;
}
.header{
    position: relative;
    display: flex;
    flex-direction: row;
}
header:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(43,40,40);
    background: linear-gradient(90deg, rgba(43,40,40,1) 0%, rgba(104,104,104,1) 35%, rgba(164,163,163,1) 100%);
    /* clip-path: polygon(0% 0%, 30% 0, 35% 50%, 30% 100%, 0% 100%); */
    clip-path: polygon(0 1%, 30% 0, 36% 100%, 0% 100%);
}
.bloco{
    max-width: 70%;
    margin: 0 auto;
    color: #686868;
    font-size: 1.3em;
    padding-top: 60px;
}
.box{
    background: white;
    padding: 30px;
    border-radius: 6px;
    box-shadow: 0 1px 6px #686868;
}
.titulo{
    text-align: center;
    color: #686868;
    font-size: 1.6em;
    font-weight: 300;
    padding-bottom: 30px;
}
.titulo::after{
    content: '';
    display: block; 
    width: 200px;
    border-top: 2px solid #f88b10;
    margin: 10px auto;
}

/* CABEBÇALHO - REDE SOCIAIS */
.redes-sociais{
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 100vh;
}
.redes-sociais i{
    text-shadow: 1px 1px 1px #000;
    color: #f88b10;
  }
.redes-sociais a{
    font-size: 3.2rem;
    padding: 0 20px;
  }

  /* CABEÇALHO - NOME DENER SILVA */
.nome{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    height: 100vh;
    background: rgb(233, 233, 233);
}
.nome h1{
    color: #f88b10;
    font-size: 3.7em;
    margin-left: 20%;
    font-weight: 600;
}
.nome h2{
    color: #686868;
    font-weight: 300;
    font-size: 1.7em;
    margin-left: 20%;
}
.nome h3{
    color: #686868;
    font-weight: 100;
    font-size: 1.3em;
    margin-left: 20%;
}

/* SEÇÃO SOBRE MIM */
.sobre-mim p{
    font-size: 1em;
    line-height: 1.4em;
    text-align: left;
    padding-bottom: 15px;
}
.sobre-mim a{
    text-decoration: none;
    display: inline-block;
    background: #f88b10;
    border: 2px solid #f88b10;
    color: #fff;
    font-size: 1em;
    font-weight: 300;
    padding: 8px 15px;
    border-radius: 4px;
    transition: all 0.3s ease;
}
.sobre-mim a:hover{
    color: #f88b10;
    background: none;
}

/* SEÇÃO MINHAS SKILLS */
.minhas-skills .box{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    background: white;
    padding: 30px;
    border-radius: 6px;
}
.minhas-skills .barra{
    margin: 10px 0;
}

.minhas-skills .box{
    padding: 20px 30px; /* desconta 10px da margem da classe barra */
}

.minhas-skills .info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.minhas-skills .span{
    font-weight: 500;
    font-size: 1em;
}
.minhas-skills .linha{
    height: 5px;
    width: 100%;
    background: #d3d1d1;
    position: relative;
}
.minhas-skills .linha::before{
    content: '';
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: #f88b10;
}
.minhas-skills .html::before{
    width: 60%;
}
.minhas-skills .css::before{
    width: 50%;
}
.minhas-skills .js::before{
    width: 40%;
}
.minhas-skills .git::before{
    width: 70%;
}
.minhas-skills .materialize::before{
    width: 80%;
}
.minhas-skills .bootstrap::before{
    width: 70%;
}

/* SEÇÃO MEUS PROJETOS */
.meus-projetos{
    padding-bottom: 60px;
}
.meus-projetos .grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
}
.meus-projetos .titulo{
    padding-bottom: 15px;
}
.meus-projetos .box{
    border-style: solid;
    border-width: 0 0 0 6px;
    border-color: #f88b10;
    text-align: center;
}
.meus-projetos .aplicacao{
    background: #f88b10;
    border-radius: 6px;
    color: #fff;
    padding: 10px;
}
.meus-projetos .skills{
    padding: 15px;
    font-size: .9em;
    font-weight: 700;
}
.meus-projetos .descricao{
    font-size: .9em;
    line-height: 1.4em;
}
.meus-projetos a{
    display: inline-block;
    font-size: .9em;
    padding-top: 15px;
    color: #f88b10;
    font-weight: 600;
}

/* RODAPÉ */
.rodape{
    background: #686868;
    text-align: center;
    color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 1.8em;
    font-size: 1.2em;
}
.rodape a{
    text-decoration: none;
    color: #fff;
}
.rodape span{
    font-size: .8em;
}